*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1{

}
p{


}

h3{

    border: 30px solid red;

border-top-right-radius: 30px;
}